<ion-header>
  <ion-toolbar>
    <ion-title>Últimas Noticias</ion-title>
    <ion-buttons slot="end">
       <ion-button (click)="navegarA('contacto')">🏠 contacto</ion-button>
       <ion-button (click)="navegarA('ajustes')">⚙️ Ajustes</ion-button>
       <ion-button (click)="navegarA('perfil')">👤 Perfil</ion-button>
       <ion-button (click)= "cerrarSesion()">Cerrar sesión</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-card>
  <ion-card-header>
    <ion-card-title>👋 ¡Bienvenido, {{ nombreUsuario }}!</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <p>Explora las últimas novedades, revisa eventos recientes y participa en el foro.</p>
  </ion-card-content>
</ion-card>

<ion-content class="ion-padding">
  <ion-list>
    <ion-item *ngFor="let noticia of noticias.slice(0, cantidadNoticias)" class="fade-in">
      <ion-thumbnail>
      <ion-img [src]="noticia.imagen"></ion-img>
      </ion-thumbnail>
      <ion-label>
        <h2>{{ noticia.titulo }}</h2>
        <p>{{ noticia.resumen }}</p>
        <div [id]="'noticia-' + noticia.titulo" *ngIf="noticia.expandida">
          <p >{{ noticia.detalle }}</p>
        </div>
      </ion-label>
      
        <ion-button fill="outline" size="small"  (click)="toggleNoticia(noticia)">
            {{ noticia.expandida ? 'Ocultar' : 'Ver más' }}
        </ion-button>
     
     
    </ion-item>
  </ion-list>

  <ion-infinite-scroll threshold="100px" (ionInfinite)="cargarMasNoticias($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Cargando más noticias..."></ion-infinite-scroll-content>
  </ion-infinite-scroll>


  
</ion-content>